body {
    font-family: mono, monospace, Courier New;
    font-size: 14pt;
    background-color: $background;
    color: $foreground;
    line-height: 1.5em;
    margin: 1em auto;
    max-width: 50em;
    padding: 0 1em;
}

h1 {
    word-wrap: break-word;
    color: $term-color6;
}

h1 u {
    color: $term-color6;
    text-decoration-line: underline;
}

h2 {
    color: $term-color4;
}

img {
    display: block;
    margin: auto;
}

a {
    text-decoration: none;
    color: orange;

    &:hover {
        font-weight: bold;
    }

    &:active {
        text-decoration: none;
    }
}

pre {
    font-family: monospace, "Lucida Console", Monaco;
    background: $theme-bottom;
    color: $term-foreground;
    padding: 1em;
    overflow-x: auto;
}

code {
    .red { color: $term-red; }
    .green { color: $term-green; }
    .yellow { color: $term-yellow; }
    .blue { color: $term-blue; }
    .magenta { color: $term-magenta; }
    .cyan { color: $term-cyan; }

    .bold { font-weight: normal; }

    .bold.black { color: $term-bold-black; }
    .bold.red { color: $term-bold-red; }
    .bold.green { color: $term-bold-green; }
    .bold.yellow { color: $term-bold-yellow; }
    .bold.blue { color: $term-bold-blue; }
    .bold.magenta { color: $term-bold-magenta; }
    .bold.cyan { color: $term-bold-cyan; }
    .bold.white { color: $term-bold-white; }
}
